[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
ipython = "*"
jupyter = "*"
pandas = "*"
sympy = "*"
nose = "*"
opencv-contrib-python = "*"
autopep8 = "*"
nltk = "*"

[dev-packages]

[requires]
python_version = "3.8"
