[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
ipython = "*"
jupyter = "*"
pandas = "*"
sympy = "*"
nose = "*"
opencv-contrib-python = "*"
autopep8 = "*"
nltk = "*"
pyqt5 = "*"
requests = "*"
beautifulsoup4 = "*"
python-levenshtein = "*"
gensim = "==3.8.3"

[dev-packages]

[requires]
python_version = "3.8"
